&control
 year0        = 2015
 year1        = 2015
 irestart     = 0
 day0         = 1
 nspin        = 1
 intime       = 1
 inkind       = 3
 trans        = 0
 dtime        = 60
 dayint       = 10
 outtime      = 1
 grdwid       = 2.0
 lonw         = -180.0
 lone         = 180.0
 latn         = 85.5
 lats         = -80.0
 wetflg       = 0
 rflg         = 0
 wiflg        = 0
 vflg         = 0
 param_file   = './control_parameter_update/hires/101_paramslist_adjplaimax_forpresclai'
 mapping_file_global = './control_bethy/hires_35params_scope_npars101.map'
 datfile      = './control_bethy/gv41_data'
 grid_file    = './control_bethy/bethy_grid3veg_v2.nc'
 interp_file  = './control_bethy/bethy2tm.nc'
 faparfile    = 'fapar_redres_'
 faparfile_global    = 'fapar_hires_serr.nc'
 yearin0      = 1980
 yearin1      = 2015
 dprecip_file = './inputs/climate/cruncep_forcing.daily.Precip.1980-2015.nc'
 dtmax_file   = './inputs/climate/cruncep_forcing.daily.Tmax.1980-2015.nc'
 dtmin_file   = './inputs/climate/cruncep_forcing.daily.Tmin.1980-2015.nc'
 dswdown_file = './inputs/climate/cruncep_forcing.daily.SWdown.1980-2015.nc'
 plai_file    = './inputs/prescribed_lai/modislai_yuan_2015_vp.txt'
 dummyfluxes  = './inputs/co2fluxes.dat'
 jacdir       = './inputs/jactd/'
 datdir       = './inputs/gv08/'
 bgrdir       = './inputs/background/'
 outdir       = './output/'
 year0_site   = 2000
 year1_site   = 2003
 site_file    = './control_bethy/no_sites'
 mapping_file_site = './control_bethy/site_specs.dat.map'
 optpftg      = .false.
 optpftl      = .false.
 optbsmg      = .false.
 optbsml      = .false.
 p1start      = 1
 p1end        = 5
 p2start      = 16
 p2end        = 20
/
